/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 1140px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: var(--background-color);
  color: var(--color);
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight, 400);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  margin: 6.25rem 0;
  padding: 0;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  min-block-size: clamp(20.4375rem, 19.5352rem + 3.8498vw, 23rem);
  border: 2px solid var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  color: var(--color);
}

.header__link {
  cursor: pointer;
  text-decoration: none;
  margin: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 1.25rem 0;
  font-family: var(--add-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: normal;
  color: var(--color);
}

.header__link:hover {
  color: var(--disabled-color);
  transition: color 0.3s ease;
}

.header__link:focus {
  outline: none;
}

.header__link:focus-visible {
  color: var(--disabled-color);
  transition: color 0.3s ease;
}

.header__title {
  text-transform: uppercase;
  font-family: var(--add-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: normal;
  color: var(--color);
  margin: 0 0 1.5625rem 0;
}

.theme-menu__list {
  margin: 0 0 1.25rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.theme-menu__button {
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 3px 0;
  font-family: var(--add-font);
  font-size: 0.875rem;
  background: none;
  border: none;
  color: var(--color);
  cursor: pointer;
  position: relative;
  padding-left: 24px;
}

.theme-menu__button:disabled {
  color: var(--disabled-color);
  cursor: default;
  pointer-events: none;
  transition: color 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 4px;
  animation: pointer 0.5s ease-in-out infinite alternate-reverse;
}

.theme-menu__button::after {
  position: absolute;
  content: "";
  left: 24px;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background: var(--disabled-color);
  color: var(--disabled-color);
  transition: 0.5s;
}

.theme-menu__button:focus-visible:after {
  width: calc(100% - 24px);
}

.theme-menu__button:focus {
  color: var(--disabled-color);
  transition: color 0.3s ease;
  outline: none;
}

.theme-menu__button:hover {
  color: var(--disabled-color);
  transition: color 0.3s ease;
}

.main {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(3.125rem, 3.0637rem + 0.2614vw, 3.25rem);
}

.card {
  background-color: var(--background-color);
  border: 2px solid var(--color);
  inline-size: 100%;
  min-block-size: clamp(20.4375rem, 19.1814rem + 5.3595vw, 23rem);
  display: flex;
  flex-direction: column;
}

.card__header {
  white-space: pre-line;
  margin: 0.1875rem 0 0.1875rem 0.625rem;
  font-family: var(--main-font);
  font-size: 1.125rem;
  color: var(--color);
  font-variation-settings: "wght" var(--header-font-weight, 700);
}

.card__image-container {
  position: relative;
  margin: 0;
  padding: 0;
  block-size: clamp(23.625rem, 16.5607rem + 30.1408vw, 43.6875rem);
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
}

.card__label {
  position: absolute;
  top: 1.5625rem;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--add-font);
  font-size: 0.875rem;
  font-weight: normal;
  color: var(--disabled-color);
  mix-blend-mode: hard-light;
  text-stroke: 1px var(--label-disabled-color);
  -webkit-text-stroke: 1px var(--label-disabled-color);
  z-index: 10;
}

@supports (
  (text-stroke: 1px var(--label-disabled-color)) or
    (-webkit-text-stroke: 1px var(--label-disabled-color))
) {
  .card__label {
    text-shadow: 0 0 1px var(--label-disabled-color);
  }
}

.card__text {
  padding: 0;
  font-family: var(--main-font);
  font-size: 1.125rem;
  font-weight: normal;
  color: var(--disabled-color);
  margin: 1.5625rem 1.5625rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6875rem;
}

.card__image {
  inline-size: 100%;
  block-size: clamp(23.4375rem, 16.3732rem + 30.1408vw, 43.5rem);
}

.filter__grayscale {
  filter: grayscale(0.8);
}

.filter__sepia {
  filter: sepia(90%);
}

.filter__blur {
  filter: blur(8px);
}

.filter__blur-bright {
  filter: blur(10px) brightness(30%);
}

.filter__blur-bright-gradient {
  filter: blur(4px) brightness(60%);
  mask-image: linear-gradient(to bottom, var(--color-transparent), #000),
    linear-gradient(to bottom, #000, var(--color-transparent)),
    linear-gradient(to bottom, var(--color-transparent), #000),
    linear-gradient(to bottom, #000, var(--color-transparent)),
    linear-gradient(to bottom, var(--color-transparent), #000);
  mask-size: 18% 70%;
  mask-position: 0 100%, 25% 25%, 50% 50%, 75% 0, 100% 50%;
  mask-repeat: no-repeat;
}

.filter__mask-gradient {
  mask-image: radial-gradient(
      closest-side,
      var(--color-transparent) 98%,
      rgba(0, 0, 0, 0.3) 99%
    ),
    radial-gradient(
      closest-side,
      var(--color-transparent) 98%,
      rgba(0, 0, 0, 0.3) 99%
    );
  mask-size: 50% 50%;
  mask-position: 50% 50%;
  mask-repeat: repeat;
}

.filter__mask-small {
  mask-image: radial-gradient(
      closest-side,
      var(--color-transparent) 10%,
      rgba(0, 0, 0, 0.3) 50%
    ),
    radial-gradient(
      closest-side,
      var(--color-transparent) 5%,
      rgba(0, 0, 0, 0.3) 20%
    );
  mask-size: 5% 5%;
  mask-position: 50% 50%;
  mask-repeat: repeat;
}

.filter__animation {
  animation: filter 5s infinite linear alternate;
}

.card__image_saturated {
  filter: saturate(24%);
}

.card__buttons {
  margin: 0 1.5625rem 1.5625rem 0;
  padding: 0;
  height: 2.375rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: flex-end;
}

.card__icon-button {
  margin: 0 4px 0 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  border: 2px solid var(--color-transparent);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--color);
  transition: all 0.3s ease;
}

.card__like-button {
  height: 100%;
  min-width: 8.125rem;
  color: var(--color);
  font-family: var(--add-font);
  font-weight: normal;
  background: none;
  border: none;
  border: 2px solid var(--color);
  position: relative;
}

.card__like-button:hover {
  color: var(--disabled-color);
  border: 2px solid var(--disabled-color);
  transition: color 0.3s ease;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color);
  height: 100%;
  width: 0;
  transition: 0.5s;
}

.card__like-button:hover::before {
  content: "";
  background: var(--color);
  width: 100%;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0;
  transition: all 0.3s ease;
}

.main__button {
  margin: clamp(3.25rem, 3.294rem + -0.1878vw, 3.125rem) 0
    clamp(6.25rem, 6.184rem + 0.2817vw, 6.4375rem) 0;
  padding: 0;
  color: var(--color);
  background: var(--background-color);
  border: 2px solid var(--color);
  min-inline-size: 20.9375rem;
  min-block-size: 3.4375rem;
  position: relative;
}

.main__button:hover {
  border: 2px solid var(--disabled-color);
  color: var(--disabled-color);
  transition: all 0.3s ease;
}

.main__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color);
  height: 100%;
  width: 0;
  transition: 0.5s;
}

.main__button:hover::before {
  content: "";
  background: var(--color);
  width: 100%;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}

.main__button:focus {
  outline: none;
  box-shadow: 2px 2px 0;
  transition: all 0.3s ease;
}

.main__button:disabled {
  pointer-events: none;
  cursor: none;
}

.button__text {
  text-transform: uppercase;
  color: var(--blend-diff-color);
  font-family: var(--add-font);
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 90%;
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
}

.floppy {
  max-width: 21px;
  max-height: 21px;
}

@media screen and (max-width: 376px) {
  .floppy {
    max-width: 28px;
    max-height: 28px;
  }
  .main__button {
    min-inline-size: 19.125rem;
    min-block-size: 5.25rem;
  }
  .button__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
  }
}

dialog {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  min-block-size: 11.9375rem;
  background-color: var(--background-color);
  color: var(--color);
}

.dialog__image {
  grid-area: image;
}

.dialog__text {
  white-space: pre-line;
  text-transform: uppercase;
  grid-area: text;
  color: var(--color);
  font-family: var(--add-font);
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 150%;
}

.dialog__button {
  grid-area: button;
  inline-size: clamp(16.0625rem, 15.2702rem + 3.3803vw, 18.3125rem);
  min-block-size: 2.375rem;
  background: none;
  border: 2px solid var(--color);
  position: relative;
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0;
  transition: all 0.3s ease;
}

.dialog__button:hover {
  border: 2px solid var(--disabled-color);
  color: var(--disabled-color);
  transition: all 0.3s ease;
}

.dialog__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color);
  height: 100%;
  width: 0;
  transition: 0.5s;
}

.dialog__button:hover::before {
  content: "";
  background: var(--color);
  width: 100%;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog + .backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog {
  inline-size: 100%;
  block-size: 100%;
  display: grid;
  grid-template-areas:
    "image text"
    "button button";
  justify-items: center;
  align-items: center;
  gap: 30px 30px;
}
